<h1>Welcome to 'Books to Read' - a Sinatra App</h1>

<h2>New Users, please Sign up! </h2>
<form  action="/signup" method="get">
  <input class="big_button" type="submit" value="Signup">
</form>

<br><br><br>
<h2>Existing Users, please Login!</h2>
<form  action="/login" method="get">
  <input class="big_button" type="submit" value="Login">
</form>
