<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>Welcome to 'Books to Read' - a Sinatra App</h1>
<h2>Existing User Login</h2>

<div class="">
  <form class="" action="/login" method="post">
    <div class="login">
      <label for="email">Email: </label>
      <input id="email" type="text" name="user[email]">
      <br></br>
      <label for="password">Password: </label>
      <input id="password" type="password" name="user[password]">
      <br></br>
      <input type="submit" name="login" value="Login">
    </div>
  </form>
</div>

<h2>Not an existing user? No worries! Please Sign up: </h2>
<form  action="/signup" method="get">
  <input class="big_button" type="submit" value="Signup">
</form>
