<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>Book List - Existing User Login</h1>

<div class="">
  <form class="" action="/login" method="post">
    <div class="login">
      <label for="user[email]">Email: </label>
      <input id="email" type="text" name="email">
      <br></br>
      <label for="user[password]">Password: </label>
      <input id="password" type="text" name="password">
      <br></br>
      <input type="submit" name="login" value="Login">
    </div>
  </form>
</div>
