<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>
<h1>New Book App User - Sign up Page</h1>

<div class="">
  <form class="" action="/signup" method="post">
    <div class="signup">
      <label for="user[name]">Name: </label>
      <input id="name" type="text" name="name">
      <br></br>
      <label for="user[email]">Email: </label>
      <input id="email" type="text" name="email">
      <br></br>
      <label for="user[password]">Password: </label>
      <input id="password" type="text" name="password">
      <br></br>
      <input type="submit" name="signup" value="Sign Up">
    </div>
  </form>
</div>
