<% if flash[:message] %>
  <h2 class="warning"><%=flash[:message]%></h2>
<%end%>

<h1>New Book App User - Sign Up Page</h1>

<div class="">
  <form class="" action="/signup" method="post">
    <div class="signup">
      <label for="name">Name: </label>
      <input id="name" type="text" name="user[name]">
      <br></br>
      <label for="email">Email: </label>
      <input id="email" type="text" name="user[email]">
      <br></br>
      <label for="password">Password: </label>
      <input id="password" type="text" name="user[password]">
      <br></br>
      <input type="submit" name="signup" value="Sign Up">
    </div>
  </form>
</div>
